@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&display=swap');

.App {
  text-align: center;
  background-color: rgb(246, 185, 173);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.settingsbox {
    background-color: #0f1d42; 
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    padding: 20px;
    position: fixed;
    top: 0; left: 0;
}

.settingsbutton button {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 16px;  /* Adjust as needed */
    color: #fff;       /* White text */
    background-color: #fcacac; /* Light pink background */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .settingsbutton button:hover {
    background-color: #f08080; /* Slightly darker pink */
  }

  .search-bar-input {
    font-family: 'Pixelify Sans', sans-serif;
  }

  .fact-text {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 18px; /* Adjust size as needed */
    color: #333; /* Adjust text color as needed */
  }